#DataTypes&Structures
1.What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They define the layout, relationship, and operation that can be performed on data.
  Data structures are fundamental tools in Python for managing and processing data efficiently. Choosing the right one leads to faster, more readable, and more reliable code — critical for everything from simple scripts to large-scale systems.

2.Explain the difference between mutable and immutable data types with examples
 - In Python, mutability refers to whether an object can be changed after it is created.Mutable data types:
 These can be changed in place.You can modify, add, or remove elements without  creating a new object.
Immutable Data Types:
 These cannot be changed after creation.Any modification creates a new object in memory.

3.What are the main differences between lists and tuples in Python?
 - Mutability:
 Lists are mutable, meaning you can change, add, or remove items after the list is created.
 Tuples are immutable, so once they are created, their contents cannot be changed.
 Syntax:Lists use square brackets: [1, 2, 3]
 Tuples use parentheses: (1, 2, 3)
 Performance:
 Tuples are generally faster than lists because they are immutable and require less memory.
 Lists are slightly slower, but they offer more flexibility

4.Describe how dictionaries store data?
 - A dictionary in Python stores data as key-value pairs, and it uses a hash table behind the scenes to manage and access this data efficiently.
 Dictionaries store data as key-value pairs.They use a hash table for fast access.Keys must be unique and immutable.Values can be any data type.
 Key-Value Pairs
 Each item in a dictionary is a pair: one key and one value.
 Example: {'name': 'Alice', 'age': 30}
 'name' is the key, 'Alice' is the value.
 'age' is the key, 30 is the value

5.Why might you use a set instead of a list in Python?
 - you might use a set instead of a list in Python when you want to store a collection of unique items. Sets automatically remove duplicates, so if your data should not contain repeated values—like a collection of unique user IDs or tags—a set is the better choice.
 Additionally, sets offer much faster performance when checking whether an item exists in the collection. For example, if you need to check membership frequently (e.g., whether a word is in a dictionary of forbidden words), sets are significantly more efficient than lists because they use a hash-based structure.
 Sets are also useful when you need to perform mathematical set operations, such as union, intersection, or difference. These operations are built-in and make tasks like comparing two datasets or finding common elements much simpler and cleaner in code.

6.What is a string in Python, and how is it different from a list?
 - A string is a sequence of characters enclosed in single quotes ('), double quotes ("), or even triple quotes (''' or """).A list is a sequence of items (elements), which can be of any data type (numbers, strings, booleans, even other lists).A string is just text (sequence of characters).A list is a collection of items (which could include strings!).Biggest difference: strings are immutable, lists are mutable
 Lists are written inside square brackets [ ].

7.How do tuples ensure data integrity in Python?
- Tuples in Python ensure data integrity because they are immutable, meaning once created, their elements cannot be changed, added, or removed. This immutability prevents accidental modifications, making tuples reliable for storing constant or fixed data.

8.What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key–value pairs and uses a hash function to map each key to an index in an underlying array for fast access.In Python, dictionaries are implemented using hash tables, which is why dictionary operations like lookup, insertion, and deletion are very fast on average.The keys in a Python dictionary must be hashable (immutable types like strings, numbers, and tuples) so that they can be reliably mapped in the hash table

9.Can lists contain different data types in Python
- Yes, in Python a list can contain elements of different data types. For example, a single list can store integers, strings, floats, booleans, or even other lists togethe

10.Explain why strings are immutable in Python
- Strings in Python are immutable, meaning their content cannot be changed once created. This is because immutability improves memory efficiency by allowing string reuse, ensures that strings can be used safely as dictionary keys and set elements, and prevents unexpected changes that could cause bugs in a program. Instead of modifying an existing string, Python creates a new string whenever changes are made

11.What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer faster lookups because they use keys instead of index positions. They allow storing data in key–value pairs, making retrieval more intuitive and efficient. Unlike lists, dictionaries can handle non-numeric keys, which makes them more flexible for mapping relationships. They are especially useful when quick searching, updating, or organizing data by unique identifiers is needed.

12.Describe a scenario where using a tuple would be preferable over a list?
- A tuple would be preferable over a list when you want to store data that should not be changed, such as the coordinates of a point (x, y) or the days of the week. Since tuples are immutable, they ensure the stored data remains constant and safe from accidental modification

13.How do sets handle duplicate values in Python?
- In Python, sets automatically remove duplicate values. When you add duplicate elements to a set, only one copy of the value is stored, ensuring that every element in a set is unique.

14.How does the “in” keyword work differently for lists and dictionaries?
- In Python, using the “in” keyword with a list checks whether a value exists among the list’s elements.
For dictionaries, the “in” keyword checks whether a specified key is present in the dictionary, not the values.

15.Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple in Python because tuples are immutable.This means that once a tuple is created, its elements cannot be changed, added, or removed. The immutability of tuples ensures data integrity and makes them useful for fixed collections of items, such as keys in dictionaries. However, if a tuple contains a mutable element (like a list), the contents of that mutable element can still be changed, but the tuple’s structure itself cannot.

16.What is a nested dictionary, and give an example of its use case?
- A nested dictionary in Python is a dictionary inside another dictionary. It allows you to store data in a hierarchical or structured way, making it useful for representing complex relationships.Nested dictionaries are useful when working with structured data such as student records

17.Describe the time complexity of accessing elements in a dictionary
- Accessing elements in a dictionary in Python has:
Average Case Time Complexity: O(1)
Dictionaries in Python are implemented using hash tables.
When you access an element using its key, the hash function computes the index directly, making lookup extremely fast.
Worst Case Time Complexity: O(n)
In rare cases, when many keys produce the same hash (called hash collisions), Python handles them with linked lists or trees internally.
In such cases, lookup could degrade to linear time with respect to the number of elements.
Conclusion: Dictionary access is on average O(1) (constant time), but in the worst case, it could be O(n).

18.In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when you need to maintain the order of elements.They are useful when accessing items by their position or index.
Lists are better for storing small collections of similar data.
They are also preferred when frequent sorting or sequential iteration is required.
In short, lists work best for ordered and index-based data, while dictionaries are better for key-value lookups.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
-  In Python versions before 3.7, dictionaries were unordered because they stored items based on the hash values of keys, not in a fixed sequence. From Python 3.7 onwards, dictionaries preserve the order in which items are inserted. However, data retrieval is always done using keys, not by index, which means you cannot rely on position-based access like in lists. If a specific sequence is needed, you should sort the dictionary or use an ordered data structure.

20.Explain the difference between a list and a dictionary in terms of data retrieval?
- A list retrieves data using an index number, which represents the position of an element in the sequence.
A dictionary retrieves data using a key, which directly maps to its associated value.
This means lists are best when order matters, while dictionaries are best when fast lookups by a unique identifier are needed.

In [ ]:
#1.Write a code to create a string with your name and print it
str=input("enter your name:")
print("your name is:",str)

enter your name:sumit
your name is: sumit

In [ ]:
#2.Write a code to find the length of the string "Hello World"
str="Hello World"
print("length of string is:",len(str))

length of string is: 11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
str="Python Programming"
print("first three charecter of strings is ",str[0:3])

first three charecter of strings is  Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase
str="hello"
print("uppercase of",str," is:",str.upper())

uppercase of hello  is: HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

str="I Like Apple"
print(str.replace("Apple","Orange"))

I Like Orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list=[]
for i in range(1,6):
  list.append(i)
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
print(" list after appending 10 is:",list.append(10),list)

 list after appending 10 is: None [1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(" list after removing three is",list)

 list after removing three is [1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[2])

c
2

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10,20,30,40,50]
print(list.sort(reverse=True),list)

None [50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple=("red","green","blue","yellow")
n=len(tuple)
print(tuple[n-1])

yellow

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10,20,5,15)
print("minimum number is:",min(tuple))

minimum number is: 5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog','cat','rabbit')
print(tuple.index("cat"))

1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=("mango","apple","guava","banana")
print(" kiwi" in (tuple))
print("mango"in (tuple))

False
True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
set23={"a","b","c"}
print(type(set23))
print(set23)

<class 'set'>
{'b', 'a', 'c'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2={1,2,3,4,5}
print(set2.clear(),set2)

None set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1={1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
print("union of set a and b:",a.union(b))

union of set a and b: {1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1,2,3}
b={2,3,4}
print("intersection of a and b:",a.intersection(b))

intersection of a and b: {2, 3}

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":"sumit","age":18,"city":"chennai"}
print(type(dict)," ",dict)

<class 'dict'>   {'name': 'sumit', 'age': 18, 'city': 'chennai'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={"name":"John","age":25}
dict.update({"counrty":"usa"})
print(dict)
print(dict.setdefault("vehicle","car"),dict)

{'name': 'John', 'age': 25, 'counrty': 'usa'}
car {'name': 'John', 'age': 25, 'counrty': 'usa', 'vehicle': 'car'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={"name":"alice","age":30}
print(dict.get("name"))

alice

In [ ]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={"name":"bob","age":22,"city":"newyork"}
print(dict.pop("age"),dict)

22 {'name': 'bob', 'city': 'newyork'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1={"name":"alice","city":"paris"}
print("city"in dict1)

True

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[45,56,2,"rohit","sumit"]
tuple=(56,"sumit",63,"rohit")
dict2={"name":"sumit","age":45,"vechile":"car"}
print(list," ",tuple," ",dict2)

[45, 56, 2, 'rohit', 'sumit']   (56, 'sumit', 63, 'rohit')   {'name': 'sumit', 'age': 45, 'vechile': 'car'}

In [ ]:
#27."""Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)"""
list=[45,65,78,96,36]
print(list.sort(),list)

None [36, 45, 65, 78, 96]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index
list1=["rohit","sumit","amit","warrior"]
print(list1[3])

warrior

In [ ]:
#29.Write a code to combine two dictionaries into one and print the result.
a={"name":"sumit","age":96,"school":78}
b={"id":45,"idname":"sumit"}
print(a.update(b),a)

None {'name': 'sumit', 'age': 96, 'school': 78, 'id': 45, 'idname': 'sumit'}

In [ ]:
#30.Write a code to convert a list of strings into a set.
l=["rohit","sumit"]
my_set = set(l) # Correctly converting a list of strings to a set
print(my_set)

{'rohit', 'sumit'}